@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F8FA;
}

.logo{
    width: 180px;
    height: 29px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px light;
    border-color: gray;
    box-shadow: 0px 4px 50px 0px #868ea41a;
    width: 100%;
    padding: 10px 100px;
}

.nav a{
    margin-left: 40px;
    text-decoration: none;
    width: 71px;
    height: 17px;
    color: #1D2C3C;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.009999999776482582px;
    text-align: left;
}

.flex-container{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 680px;
    border-radius: 0px, 6px, 6px, 0px;
    margin: 50px auto 20px;
    background-color: #FFFFFF;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px #0000000D;
    box-shadow: 0px 15px 35px 0px #2B404E18;

}

.container-1{
    width: 65%;
    background-color: #FFFFFF;
}

.container-2{
    width: 35%;
    background-color: #1179BF;

}
.container-header{
    background-color: #FFFFFF;
    border-bottom: 2px solid #F5F7FA;
}
.header-text{
    width: 150px;
    height: 54px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    background-color: #FFFFFF;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    color: #1D2C3C;
    text-shadow: 2px 2px #00000040;

}

.container-item{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.info{
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.1599999964237213px;
    text-align: left;
    color: #1D2C3C;
    width: 220px;
    height: 32px;
    margin-left: 5px;
    margin-top: 7px;
    background-color: #FFFFFF;
}

.num{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    margin: 5px 5px 5px 30px;
}

.column{
    display: flex;
    column-gap: 0px;
    background-color: #FFFFFF;
}

.input-box{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #FFFFFF;
}

.column .input-box input{
    width: 200px;
    height: 36px;
    background-color: #EDEFF2;
    outline: none;
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.column .input-box label{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #FFFFFF;
}

.column .input-box-email input{
    width: 370px;
    height: 36px;
    background-color: #EDEFF2;
    outline: none;
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    margin-top:5px;
    padding-left: 10px;
}
.column .input-box-email label{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #FFFFFF;
}

.input-box-email{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    width: 70%;
}
.email{
    border-bottom: 2px solid #F5F7FA;
}

.input-box-email-card{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
.column .input-box-email-card label{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #FFFFFF;
}
.column .input-box-email-card input{
    width: 463px;
    height: 36px;
    background-color: #EDEFF2;
    outline: none;
    border: 1px solid #EDEFF2;
    border-radius: 5px;
    margin-top:5px;
    padding-left: 10px;
}

.footer-button{
    margin: 20px auto;
    width: 460px;
    height: 52px;
    background-color: #038E7D;
    border-radius: 3px;
}

.footer-button .btn{
    margin-top: 15px;
    margin-left: 180px;
    background-color: #038E7D;
    border: none;
    outline: none;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.39600005745887756px;
    text-align: center;
    color: #FFFFFF;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 303px;
    height: 16px;
    margin: auto;
    background-color: #FFFFFF;
}

.footer p span{
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.009999999776482582px;
    text-align: left;
    color: linear-gradient(0deg, #1D2C3C, #1D2C3C);
    background-color: #FFFFFF;
}
.footer p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.009999999776482582px;
    text-align: left;
    color: linear-gradient(0deg, #646E7A, #646E7A);;
    background-color: #FFFFFF;
}

.footer img{
    margin-right: 10px;
}

.footer-logo{
    width: 92px;
    height: 20.1px;
    margin: 25px auto;
}

.side-header{
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.009999999776482582px;
    text-align: left;
    width: 93px;
    height: 24pX;
    color: #FFFFFF;
    background-color: #1179BF;
    margin: 30px ;
}

.container-2-header{
    background-color: #1179BF;
}

.header-II{
    display: flex;
    flex-direction: row;
    background-color: #1179BF;
}

.h5-hII{
    background-color: #1179BF;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.014999999664723873px;
    text-align: left;
    width: 14px;
    height: 29px;
    color: #FFFFFF;
    margin-left: 30px;

}

.h4-hII{
    background-color: #1179BF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.014999999664723873px;
    text-align: left;
    color: #FFFFFF;
}

.h4-hII span{
    background-color: #1179BF;
    font-family: Lato;
    font-size: 60px;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: -0.014999999664723873px;
    text-align: left;
    color: #FFFFFF;
}

.header-III{
    background-color:#1179BF;
    width: 229px;
    height: 48px;
}

.header-III-p{
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.007999998517334461px;
    text-align: left;
    background-color: #1179BF;
    color: #FFFFFF;
    margin-left: 30px;
}

.header-IV{
    background-color: #1179BF;
    margin-top:20px;
}

.header-IV-d{
    display: flex;
    flex-direction: row;
    background-color: #1179BF;
    margin-left: 30px;
}
.header-IV-d p{
    margin-left: 8px;
    background-color: #1179BF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.007999998517334461px;
    text-align: left;
    color: #FFFFFF;

}

.header-IV-d img{
    background-color: #1179BF;
    margin-bottom: 10px;

}

.header-VI{
    background-color: #1179BF;
    margin-left: 30px;
    margin-top: 20px;
}

.header-VI p{
    background-color: #1179BF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.007999998517334461px;
    text-align: left;
    color: #FFFFFF;

}

.header-VII{
    background-color: #1179BF;
    border-top: 1px solid white;
    width: 200px;
    height: 196px;
    margin-left:30px;
    margin-top: 20px;

}

.header-VII p{
    width: 227px;
    height: 96px;
    margin-top: 20px;
    background-color: #1179BF;
    font-family: Lato;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.008999999612569809px;
    text-align: left;
    color: #FFFFFF;
}

.header-VII p span{
    background-color: #1179BF;
    font-weight: bold;
}

.header-vii{
    display: flex;
    flex-direction: row;
    background-color: #1179BF;
    margin-top: 20px;
}

.header-vii img{
    background-color: #1179BF;
}


.header-vii h5{
    background-color: #1179BF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.007999999448657036px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 10px;
}

.section-footer{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.section-footer p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: #636B6F;
}

